<template name="header">
    <div class="ui grid container">
      <div class="three column row">
            <a href="/people" class="column nav-button button-one"><div class="center aligned full-text-height white-text"><i class="fa fa-user-plus"></i></div></a>
            <a href="/" class="column nav-button button-two"><div class="center aligned full-text-height white-text"><i class="fa fa-map-marker"></i></div></a>
            <a href="/settings" class="column nav-button button-three" id="monitor"><div class="center aligned full-text-height white-text"><i class="fa fa-cog"></i></div></a>
        </div>
    </div>
</template>
