<template name="header">
  <div class="ui grid container">
    <div class="three column row">
      <div class="column nav-button button-one">
        <a href="/people">
        <div class="center aligned full-text-height white-text"><i class="fa fa-user-plus"></i></div>
        </a>
      </div>
      <div class="column nav-button button-two">
        <a href="/" >
        <div class="center aligned full-text-height white-text"><i class="fa fa-map-marker"></i></div>
        </a>
      </div>
      <div class="column nav-button button-three">
        <a href="/settings" >
        <div class="center aligned full-text-height white-text"><i class="fa fa-cog"></i></div>
        </a>
      </div>
    </div>
  </div>
  <div class="cacat">
    acc x:
    <span id="accx"></span>
    <br> acc y:
    <span id="accy"></span>
    <br> acc z:
    <span id="accz"></span>
    <br>
  </div>
</template>
